.alert {
    width: 300px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    position: relative;
}

.delete {
    outline: none;
    background: none;
    border: none;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.primary {
    background: #85cdff;
}

.success {
    background: #7cff70;
}

.warning {
    background: #ffed67;
}

.danger {
    background: #ff6c56;
}