.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 7%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.modalHeading {
    border-bottom: 1px solid black;
}

.closeModal {
    display: block;
    margin-left: auto;
    border: 2px solid black;
    background: white;
    font-weight: bold;
    outline: none;
}

.closeModal:hover {
    background: #c3c3c3;
}

.closeModal:active {
    background: white;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}